<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Mvc ActionLink", "Index")<br />
        @Html.ActionLink("Mvc ActionLink with params", "Index", new { Id = 1 }, new { @class = "some-css-class" })<br />
        <br />
        @using (Html.ActionHtmlLink("Index"))
        {
            <span>Html link</span>
        }
        <br />
        @using (Html.ActionHtmlLink("Index", new { Id = 1 }, new { @class = "some-css-class" }))
        {
            <span>Html link with params</span>
        }

    </div>
</body>
</html>
